@model Veenca.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuovo Cliente</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.name)
        @Html.TextBoxFor(m => m.Customer.name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.name)
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeid)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeid, new SelectList(Model.MembershipTypes, "id", "textAbbonamento"), "Seleziona Abbonamento", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeid)
    </div>

    <div class="form-group">
        <label for="Customer_Compleanno">Data di nascita</label>
        @Html.TextBoxFor(m => m.Customer.Compleanno, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Compleanno)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) É iscritto alla newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.id);
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary">
        Conferma
    </button>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    }